---
openapi: 3.0.0
info:
  title: Twitch Helix API
  description: The Twitch API is a RESTful API that lets developers build creative integrations for the broader Twitch community. THIS DOCUMENTATION IS NEITHER MAINTAINED BY OR AFFILIATED WITH TWITCH
  termsOfService: https://www.twitch.tv/p/en/legal/developer-agreement/
  contact:
    name: TwitchDev
    url: https://dev.twitch.tv/support/
    email: developers@twitch.tv
  version: Helix
externalDocs:
  description: Official documentation
  url: https://dev.twitch.tv/docs/api/
servers:
- url: https://api.twitch.tv/helix
  description: Production API
paths:
  /channels/commercial:
    post:
      tags:
      - Ads
      summary: Start Commercial
      description: Starts a commercial on the specified channel.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:edit:commercial
  /analytics/extensions:
    get:
      tags:
      - Analytics
      summary: Get Extension Analytics
      description: Gets an analytics report for one or more extensions.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: extension_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: started_at
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ended_at
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: first
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - analytics:read:extensions
  /analytics/games:
    get:
      tags:
      - Analytics
      summary: Get Game Analytics
      description: Gets an analytics report for one or more games.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: game_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: started_at
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ended_at
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: first
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - analytics:read:games
  /bits/leaderboard:
    get:
      tags:
      - Bits
      summary: Get Bits Leaderboard
      description: Gets the Bits leaderboard for the authenticated broadcaster.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: count
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: period
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: started_at
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: user_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - bits:read
  /bits/cheermotes:
    get:
      tags:
      - Bits
      summary: Get Cheermotes
      description: Gets a list of Cheermotes that users can use to cheer Bits.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /extensions/transactions:
    get:
      tags:
      - Bits
      summary: Get Extension Transactions
      description: Gets an extension’s list of transactions.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: extension_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: first
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /channels:
    get:
      tags:
      - Channels
      summary: Get Channel Information
      description: Gets information about one or more channels.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
    patch:
      tags:
      - Channels
      summary: Modify Channel Information
      description: Updates a channel’s properties.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:manage:broadcast
  /channels/editors:
    get:
      tags:
      - Channels
      summary: Get Channel Editors
      description: Gets the broadcaster’s list editors.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:read:editors
  /channels/followed:
    get:
      tags:
      - Channels
      summary: Get Followed Channels
      description: Gets a list of broadcasters that the specified user follows. You can also use this endpoint to see whether a user follows a specific broadcaster.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: user_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: first
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - user:read:follows
  /channels/followers:
    get:
      tags:
      - Channels
      summary: Get Channel Followers
      description: Gets a list of users that follow the specified broadcaster. You can also use this endpoint to see whether a specific user follows the broadcaster.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: user_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: first
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - moderator:read:followers
  /channel_points/custom_rewards:
    get:
      tags:
      - Channel Points
      summary: Get Custom Reward
      description: Gets a list of custom rewards that the specified broadcaster created.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: only_manageable_rewards
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:read:redemptions
    post:
      tags:
      - Channel Points
      summary: Create Custom Rewards
      description: Creates a Custom Reward in the broadcaster’s channel.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:manage:redemptions
    delete:
      tags:
      - Channel Points
      summary: Delete Custom Reward
      description: Deletes a custom reward that the broadcaster created.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:manage:redemptions
    patch:
      tags:
      - Channel Points
      summary: Update Custom Reward
      description: Updates a custom reward.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:manage:redemptions
  /channel_points/custom_rewards/redemptions:
    get:
      tags:
      - Channel Points
      summary: Get Custom Reward Redemption
      description: Gets a list of redemptions for a custom reward.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: reward_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: sort
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: first
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:read:redemptions
    patch:
      tags:
      - Channel Points
      summary: Update Redemption Status
      description: Updates a redemption’s status.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: reward_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:manage:redemptions
  /charity/campaigns:
    get:
      tags:
      - Charity
      summary: Get Charity Campaign
      description: Gets information about the broadcaster’s active charity campaign.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:read:charity
  /charity/donations:
    get:
      tags:
      - Charity
      summary: Get Charity Campaign Donations
      description: Gets the list of donations that users have made to the broadcaster’s active charity campaign.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: first
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /chat/chatters:
    get:
      tags:
      - Chat
      summary: Get Chatters
      description: Gets the list of users that are connected to the broadcaster’s chat session.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: first
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - moderator:read:chatters
  /chat/emotes:
    get:
      tags:
      - Chat
      summary: Get Channel Emotes
      description: Gets the broadcaster’s list of custom emotes.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /chat/emotes/global:
    get:
      tags:
      - Chat
      summary: Get Global Emotes
      description: Gets all global emotes.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /chat/emotes/set:
    get:
      tags:
      - Chat
      summary: Get Emote Sets
      description: Gets emotes for one or more specified emote sets.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: emote_set_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /chat/badges:
    get:
      tags:
      - Chat
      summary: Get Channel Chat Badges
      description: Gets the broadcaster’s list of custom chat badges.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_19'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /chat/badges/global:
    get:
      tags:
      - Chat
      summary: Get Global Chat Badges
      description: Gets Twitch’s list of chat badges.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /chat/settings:
    get:
      tags:
      - Chat
      summary: Get Chat Settings
      description: Gets the broadcaster’s chat settings.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_21'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - moderator:read:chat_settings
    patch:
      tags:
      - Chat
      summary: Update Chat Settings
      description: Updates the broadcaster’s chat settings.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_22'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - moderator:manage:chat_settings
  /chat/announcements:
    post:
      tags:
      - Chat
      summary: Send Chat Announcement
      description: Sends an announcement to the broadcaster’s chat room.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - moderator:manage:announcements
  /chat/shoutouts:
    post:
      tags:
      - Chat
      summary: Send a Shoutout
      description: Sends a Shoutout to the specified broadcaster.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: from_broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: to_broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - moderator:manage:shoutouts
  /chat/color:
    get:
      tags:
      - Chat
      summary: Get User Chat Color
      description: Gets the color used for the user’s name in chat.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: user_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_23'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
    put:
      tags:
      - Chat
      summary: Update User Chat Color
      description: Updates the color used for the user’s name in chat.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: user_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: color
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - user:manage:chat_color
  /clips:
    get:
      tags:
      - Clips
      summary: Get Clips
      description: Gets one or more video clips.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: game_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: started_at
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: ended_at
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: first
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: before
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_24'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
    post:
      tags:
      - Clips
      summary: Create Clip
      description: Creates a clip from the broadcaster’s stream.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: has_delay
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_25'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - clips:edit
  /content_classification_labels:
    get:
      tags:
      - CCLs
      summary: Get Content Classification Labels
      description: Gets information about Twitch content classification labels.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: locale
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_26'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /entitlements/drops:
    get:
      tags:
      - Entitlements
      summary: Get Drops Entitlements
      description: "Gets an organization’s list of entitlements that have been granted to a game, a user, or both."
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: user_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: game_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: fulfillment_status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: first
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_27'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
    patch:
      tags:
      - Entitlements
      summary: Update Drops Entitlements
      description: Updates the Drop entitlement’s fulfillment status.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_28'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /extensions/configurations:
    get:
      tags:
      - Extensions
      summary: Get Extension Configuration Segment
      description: Gets the specified configuration segment from the specified extension.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: extension_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: segment
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_29'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
    put:
      tags:
      - Extensions
      summary: Set Extension Configuration Segment
      description: Updates a configuration segment.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /extensions/required_configuration:
    put:
      tags:
      - Extensions
      summary: Set Extension Required Configuration
      description: Updates the extension’s required_configuration string.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /extensions/pubsub:
    post:
      tags:
      - Extensions
      summary: Send Extension PubSub Message
      description: Sends a message to one or more viewers.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /extensions/live:
    get:
      tags:
      - Extensions
      summary: Get Extension Live Channels
      description: Gets a list of broadcasters that are streaming live and have installed or activated the extension.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: extension_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: first
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_30'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /extensions/jwt/secrets:
    get:
      tags:
      - Extensions
      summary: Get Extension Secrets
      description: Gets an extension’s list of shared secrets.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_31'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
    post:
      tags:
      - Extensions
      summary: Create Extension Secret
      description: Creates a shared secret used to sign and verify JWT tokens.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: extension_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: delay
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_32'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /extensions/chat:
    post:
      tags:
      - Extensions
      summary: Send Extension Chat Message
      description: Sends a message to the specified broadcaster’s chat room.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /extensions:
    get:
      tags:
      - Extensions
      summary: Get Extensions
      description: Gets information about an extension.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: extension_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: extension_version
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_33'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /extensions/released:
    get:
      tags:
      - Extensions
      summary: Get Released Extensions
      description: Gets information about a released extension.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: extension_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: extension_version
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_34'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /bits/extensions:
    get:
      tags:
      - Extensions
      summary: Get Extension Bits Products
      description: Gets the list of Bits products that belongs to the extension.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: should_include_all
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_35'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
    put:
      tags:
      - Extensions
      summary: Update Extension Bits Product
      description: Adds or updates a Bits product that the extension created.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_36'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /eventsub/subscriptions:
    get:
      tags:
      - EventSub
      summary: Get EventSub Subscriptions
      description: Gets a list of EventSub subscriptions that the client in the access token created.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: user_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_37'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
    post:
      tags:
      - EventSub
      summary: Create EventSub Subscription
      description: Creates an EventSub subscription.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_38'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
    delete:
      tags:
      - EventSub
      summary: Delete EventSub Subscription
      description: Deletes an EventSub subscription.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /games/top:
    get:
      tags:
      - Games
      summary: Get Top Games
      description: Gets information about all broadcasts on Twitch.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: first
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: before
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_39'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /games:
    get:
      tags:
      - Games
      summary: Get Games
      description: Gets information about specified games.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: name
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: igdb_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_40'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth: []
  /goals:
    get:
      tags:
      - Goals
      summary: Get Creator Goals
      description: Gets the broadcaster’s list of active goals.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_41'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:read:goals
  /guest_star/channel_settings:
    get:
      tags:
      - Guest Star
      summary: Get Channel Guest Star Settings
      description: BETA Gets the channel settings for configuration of the Guest Star feature for a particular host.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_42'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:read:guest_star
        - moderator:read:guest_star
    put:
      tags:
      - Guest Star
      summary: Update Channel Guest Star Settings
      description: BETA Mutates the channel settings for configuration of the Guest Star feature for a particular host.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:manage:guest_star
  /guest_star/session:
    get:
      tags:
      - Guest Star
      summary: Get Guest Star Session
      description: BETA Gets information about an ongoing Guest Star session for a particular channel.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:read:guest_star
        - moderator:read:guest_star
    post:
      tags:
      - Guest Star
      summary: Create Guest Star Session
      description: BETA Programmatically creates a Guest Star session on behalf of the broadcaster.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:manage:guest_star
    delete:
      tags:
      - Guest Star
      summary: End Guest Star Session
      description: BETA Programmatically ends a Guest Star session on behalf of the broadcaster.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: session_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:manage:guest_star
  /guest_star/invites:
    get:
      tags:
      - Guest Star
      summary: Get Guest Star Invites
      description: BETA Provides the caller with a list of pending invites to a Guest Star session.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: session_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_43'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:read:guest_star
        - moderator:read:guest_star
    post:
      tags:
      - Guest Star
      summary: Send Guest Star Invite
      description: BETA Sends an invite to a specified guest on behalf of the broadcaster for a Guest Star session in progress.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: session_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: guest_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:manage:guest_star
        - moderator:manage:guest_star
    delete:
      tags:
      - Guest Star
      summary: Delete Guest Star Invite
      description: BETA Revokes a previously sent invite for a Guest Star session.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: session_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: guest_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:manage:guest_star
        - moderator:manage:guest_star
  /guest_star/slot:
    post:
      tags:
      - Guest Star
      summary: Assign Guest Star Slot
      description: BETA Allows a previously invited user to be assigned a slot within the active Guest Star session.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: session_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: guest_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: slot_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_44'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:manage:guest_star
        - moderator:manage:guest_star
    delete:
      tags:
      - Guest Star
      summary: Delete Guest Star Slot
      description: BETA Allows a caller to remove a slot assignment from a user participating in an active Guest Star session.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: session_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: guest_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: slot_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: should_reinvite_guest
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:manage:guest_star
        - moderator:manage:guest_star
    patch:
      tags:
      - Guest Star
      summary: Update Guest Star Slot
      description: BETA Allows a user to update the assigned slot for a particular user within the active Guest Star session.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: session_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: source_slot_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: destination_slot_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:manage:guest_star
        - moderator:manage:guest_star
  /guest_star/slot_settings:
    patch:
      tags:
      - Guest Star
      summary: Update Guest Star Slot Settings
      description: BETA Allows a user to update slot settings for a particular guest within a Guest Star session.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: session_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: slot_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: is_audio_enabled
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: is_video_enabled
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: is_live
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: volume
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:manage:guest_star
        - moderator:manage:guest_star
  /hypetrain/events:
    get:
      tags:
      - Hype Train
      summary: Get Hype Train Events
      description: Gets information about the broadcaster’s current or most recent Hype Train event.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: first
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_45'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:read:hype_train
  /moderation/enforcements/status:
    post:
      tags:
      - Moderation
      summary: Check AutoMod Status
      description: Checks whether AutoMod would flag the specified message for review.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_46'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - moderation:read
  /moderation/automod/message:
    post:
      tags:
      - Moderation
      summary: Manage Held AutoMod Messages
      description: Allow or deny the message that AutoMod flagged for review.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - moderator:manage:automod
  /moderation/automod/settings:
    get:
      tags:
      - Moderation
      summary: Get AutoMod Settings
      description: Gets the broadcaster’s AutoMod settings.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_47'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - moderator:read:automod_settings
    put:
      tags:
      - Moderation
      summary: Update AutoMod Settings
      description: Updates the broadcaster’s AutoMod settings.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_48'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - moderator:manage:automod_settings
  /moderation/banned:
    get:
      tags:
      - Moderation
      summary: Get Banned Users
      description: Gets all users that the broadcaster banned or put in a timeout.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: user_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: first
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: before
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_49'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - moderation:read
  /moderation/bans:
    post:
      tags:
      - Moderation
      summary: Ban User
      description: Bans a user from participating in a broadcaster’s chat room or puts them in a timeout.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_50'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - moderator:manage:banned_users
    delete:
      tags:
      - Moderation
      summary: Unban User
      description: Removes the ban or timeout that was placed on the specified user.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: user_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - moderator:manage:banned_users
  /moderation/blocked_terms:
    get:
      tags:
      - Moderation
      summary: Get Blocked Terms
      description: "Gets the broadcaster’s list of non-private, blocked words or phrases."
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: first
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_51'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - moderator:read:blocked_terms
    post:
      tags:
      - Moderation
      summary: Add Blocked Term
      description: Adds a word or phrase to the broadcaster’s list of blocked terms.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_52'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - moderator:manage:blocked_terms
    delete:
      tags:
      - Moderation
      summary: Remove Blocked Term
      description: Removes the word or phrase from the broadcaster’s list of blocked terms.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - moderator:manage:blocked_terms
  /moderation/chat:
    delete:
      tags:
      - Moderation
      summary: Delete Chat Messages
      description: Removes a single chat message or all chat messages from the broadcaster’s chat room.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: message_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - moderator:manage:chat_messages
  /moderation/moderators:
    get:
      tags:
      - Moderation
      summary: Get Moderators
      description: Gets all users allowed to moderate the broadcaster’s chat room.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: user_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: first
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_53'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - moderation:read
    post:
      tags:
      - Moderation
      summary: Add Channel Moderator
      description: Adds a moderator to the broadcaster’s chat room.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: user_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:manage:moderators
    delete:
      tags:
      - Moderation
      summary: Remove Channel Moderator
      description: Removes a moderator from the broadcaster’s chat room.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: user_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:manage:moderators
  /channels/vips:
    get:
      tags:
      - Moderation
      summary: Get VIPs
      description: Gets a list of the broadcaster’s VIPs.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: user_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: first
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_54'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:read:vips
        - channel:manage:vips
    post:
      tags:
      - Moderation
      summary: Add Channel VIP
      description: Adds the specified user as a VIP in the broadcaster’s channel.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: user_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:manage:vips
    delete:
      tags:
      - Moderation
      summary: Remove Channel VIP
      description: Removes the specified user as a VIP in the broadcaster’s channel.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: user_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: Deleted
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:manage:vips
  /moderation/shield_mode:
    get:
      tags:
      - Moderation
      summary: Get Shield Mode Status
      description: Gets the broadcaster’s Shield Mode activation status.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_55'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - moderator:read:shield_mode
    put:
      tags:
      - Moderation
      summary: Update Shield Mode Status
      description: Activates or deactivates the broadcaster’s Shield Mode.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: moderator_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_56'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - moderator:manage:shield_mode
  /polls:
    get:
      tags:
      - Polls
      summary: Get Polls
      description: Gets a list of polls that the broadcaster created.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: broadcaster_id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: id
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: first
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_57'
        "401":
          description: "Unauthenticated: Missing/invalid Token"
        "404":
          description: Not Found
        "500":
          description: "Internal Server Error: Something bad happened on our side"
      security:
      - oauth:
        - channel:read:polls
    post:
      tags:
      - Polls
      summary: Create Poll
      description: Creates a poll that viewers in the broadcaster’s channel can vote on.
      parameters:
      - name: client_id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
[...]
